@model IEnumerable<CasoEstudio2.Entities.CasaEnt>

@{
    ViewBag.Title = "ConsultaCasas";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Información de las Casas</h4>

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="text-align:center">ID Casa</th>
                        <th style="text-align:center">Descripción Casa</th>
                        <th style="text-align:center">Precio Casa</th>
                        <th style="text-align:center">Usuario Alquiler</th>
                        <th style="text-align:center">Fecha Alquiler</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td style="text-align:center">@item.IdCasa</td>
                                <td style="text-align:center">@item.DescripcionCasa</td>
                                <td style="text-align:center">@item.PrecioCasa</td>
                                <td style="text-align:center">@item.UsuarioAlquiler</td>
                                <td style="text-align:center">@item.FechaAlquiler</td>

                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="5" style="text-align:center">No hay Casas disponibles</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
